@font-face {
    font-family: MonoManiac;
    src: url('../assets/fonts/Monomaniac_One/MonomaniacOne-Regular.ttf') format('truetype');
}

*{
    background-color: #0d1117;
    color: white;
    font-family:monoManiac;
}

h1 {
    font-family: MonoManiac;
}

p {
    font-family: MonoManiac;
}

.header{
    font-size: 50px;
}